<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="scar.apps.scarservice">

    <dist:module dist:instant="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application

            android:allowBackup="true"
            android:icon="@drawable/preloader"
            android:label="@string/app_name"
            android:roundIcon="@drawable/preloader"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".weight"
                  android:screenOrientation="landscape"
                  android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
                android:name=".select_place"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".place"
                android:screenOrientation="landscape"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".select_stock_product"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".select_product"
                android:screenOrientation="landscape">
        </activity>

        <service
                android:name="com.generalscan.bluetooth.connect.ATService"
                android:enabled="true"/>

        <activity android:name=".scanner">
        </activity>
        <activity
                android:name=".Product"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".splash_screen"
                android:noHistory="true"
                android:screenOrientation="landscape"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".login"
                android:noHistory="true"
                android:screenOrientation="landscape"
                android:theme="@style/LoginTheme">
        </activity>
        <activity
                android:name=".search_product"
                android:noHistory="true"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".documents_product"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".product_stock"
                android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>